pytest==6.2.4
zipp==3.5.0
importlib_metadata==4.6.1
lxml==4.6.3
elasticsearch==7.14.0
cryptography==3.4.7
brotli==1.0.9
Cython==0.29.24
docutils==0.17.1
keyring==23.1.0
lockfile==0.12.2
monotonic==1.6
numpy==1.21.2
ordereddict==1.1
protobuf==3.17.3
pyOpenSSL==20.0.1
tornado==6.1
wincertstore==0.2.1
